<p>This is the filter view.</p>
<style>
.filter-ui {
  background:#fff;
  position:absolute;
  top:10px;
  right:10px;
  z-index:100;
  padding:10px;
  border-radius:3px;
  }
</style>
 <div class="btn-group">
        <button type="button" id="allbus" class="btn btn-success">All</button>
        <button type="button" id="others" class="btn btn-primary">Others</button>
        <button type="button" id="cafes" class="btn btn-danger">Cafes</button>
    </div>
<nav id='filters' class='filter-ui'></nav>
<div id="map" ng-controller="FilterCtrl">
	<leaflet lf-center="center" defaults="defaults" markers="markers"></leaflet>
</div>
